/*Main styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDEDED;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    margin-top: 70px;
}

/*Header styles*/

.prezentation-set {
    text-align: center;
}

.prezentation-set h1 {
    margin: 30px 0px;
}

.text-info {
    padding-top: 17px;
    text-align: left;
    padding-left: 20px;
}

span {
    font-weight: 600;
}

.important {
    color: #F68928;
    font-weight: 600;
    padding-top: 17px;
}

.btn {
    color: #fff;
    padding: 10px 40px;
    margin: 30px 0px;
    border: 0;
}

.btn-read {
    background-color: #F68928;
}

.btn-register {
    background-color: #AF1B51
}

/*Rules styles*/

.information {
    background-color: #EDEDED;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/*FAQ styles*/

.faq {
    padding: 25px 0px;
}

.faq h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0px;
}

.main-list {
    padding-left: 50px;
}

.list-info {
    list-style-type: none;
}

/*Footer styles*/

.my-footer {
    padding-bottom: 5px;
}

footer > p {
    font-size: 14px;
}

.preview-message {
    text-decoration: underline;
    cursor: pointer;
}

.footer-rodo {
    font-size: 10px;
}

.message {
    text-decoration: underline;
    font-weight: normal;
}

.special-sign {
    padding-top: 10px;
    font-size: 12px;
}
