* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

.gallery {
    margin-top: 10%;
    width: 100%;
}

.img-properties {
    z-index: 0;
    width: 350px;
    height: 235px;
    margin: 10px;
    position: relative;
    transition: 0.2s all linear;
}

.title-pic {
    position: absolute;
    top: 170px;
    left: 40px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    z-index: 2;
}

.title-pic-doubleline {
    top: 190px;
}

.title-pic-oneline {
    top: 210px;
}

.img-properties:hover {
    border-bottom: red 2px solid;
}
